body{
    margin: auto;
    width: 50vw;

    font-family: sans-serif;
}

table{
    border-collapse: collapse;
}

table, td, th {
    border: solid black 1px;
    padding: 4px;
}

.route_title{
    font-family: monospace;
    font-size: x-large;
    border: dashed black 1px;
}

.mini_title{
    font-weight: bold;
}

.json_desc td:nth-child(1){
    font-family: monospace;
    font-weight: bold;
    font-size: large;
}
.json_desc td:nth-child(2), .json_desc td:nth-child(4){
    font-family: monospace;
    font-size: large;
}

.settings_desc td:nth-child(1), .settings_desc td:nth-child(2), .settings_desc td:nth-child(3),
.settings_desc td:nth-child(5){
    font-family: monospace;
    font-size: large;
}

.code{
    font-family: monospace;
    font-size: large;
    background: #E6E6E6;
    padding: 2px;
}

li {
    margin-top: 3px;
}

table {
    width: 80vw;
    margin-left: -15vw;
}

#tbl_doc_details{
    width: inherit;
    margin: inherit;
}

.codes_desc{
    width: inherit;
    margin: inherit;
}

.codes_desc td:nth-child(1){
    font-family: monospace;
    font-weight: bold;
    font-size: large;
}